/* ----------------  Colors ------------------ */
$white: #ffffff;
$black: #0a0406;
$blue: #288cd0;

$text_prim: #3e3337;
$text_sec: #75796d;

$back_prim: #dfddeb;
$back_sec: #a9a3a5;

/* ----------------  Fonts  ------------------ */
$title: 32px;
$title_s: 21px;

$text_xl: 16px;
$text_l: 14px;
$text: 13px;
$text_s: 12px;
